@import '../../global/globalCssVariables';

// .treeView-wrapper {
//   display: flex;
//   position: relative;
//   flex-direction: column;
//   height: 100%;
//   width: 100%;
//   background-color: white;
//   overflow: hidden;
//   padding: 20px 0px 20px 0px;
// }

.treeView-wrapper {
  display: flex;
  margin: 10px;
  width: 100%;
  max-width: 260px;
  flex-basis: 150px;
  position: relative;
  flex-direction: column;
  height: 97.5%;
  background-color: $secondary-background-color; //white;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
  border-width: 1.5px;
  border-radius: 20px;
  border-color: $secondary-background-color;

  &.true {
    background-color: white;
  }
}
